body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}
#animar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

h1{
    font-size: 40pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.preto{
    background-color: #FF4642;
    height: 40px;
    width: 300px;
}

.vermelho{
    background-color: red;
    height: 40px;
    width: 300px;
    animation: esticar 5s cubic-bezier(1,.38,.83,.67);
}

@media (max-width: 600px){
.preto{
    
}
.vermelho{

}
}

@keyframes esticar{
    0%{
        transform: scaleX(0) ;
        transform-origin: 0;
        }
    100%{
        transform: scaleX(1);
        transform-origin: 0;
    }
}